---
layout: default
---
<div class="w-100 ma4 flex justify-center items-center serif">
  <div class="w-50-ns w-80">
    <div class="pt4">
      <div class="w5 b">
        Undangan
      </div>
      <div class="pb3">
        <ul>
          {% for undangan in site.undangan %}
          <li class="ttc">
            <p>{{undangan.title}}</p>
          </li>
          <a href="{{undangan.url}}">https://jiwadanrizal.com{{undangan.url}}</a>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="pt4">
      <div class="w5 b">
        Undangan Virtual
      </div>
      <div>
        <ul>
          {% for undanganvirtual in site.undanganvirtual %}
          <li class="ttc">
            <p">{{undanganvirtual.title}}</p>
          </li>
          <a href="{{undanganvirtual.url}}">https://jiwadanrizal.com{{undanganvirtual.url}}</a>
          <p></p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
