<div class="w-100 vh-100 flex justify-center items-center">
  <div class="mw6-ns mw5 flex flex-wrap justify-center f9 lh-copy tc">
    <div class="f2 lh-title">
      <p class="ma0">Live Streaming</p>
      <p class="ma0 f-subheadline">30.10.21</p>
    </div>
    <div class="w-100 h5 ba br4 f2 flex justify-center items-center">
      <p class="blink-1">Coming Soon</p>
    </div>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/UaTn1KguTBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe> -->
    <p>Pukul 15:30 - 20:00</p>
  </div>
</div>
