<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Jiwa & Rizal</title>
  <link rel="icon" href="/assets/icon.png">
  <link rel="stylesheet" type="text/css" href="/assets/main.css" charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KJ0BXMPCBN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-KJ0BXMPCBN');
  </script>
</head>

<body>
  <img class="svg pa2 h4 fixed top-0 left-0" src="/assets/corner_top_left.svg">
  <img class="svg pa2 h4 fixed top-0 right-0" src="/assets/corner_top_right.svg">
  <img class="svg pa2 h4 fixed bottom-0 left-0" src="/assets/corner_bottom_left.svg">
  <img class="svg pa2 h4 fixed bottom-0 right-0" src="/assets/corner_bottom_right.svg">
  {{ content }}
  <script>
    $(document).ready(function() {
      $("#menu").click(function() {
        $("#content").toggle();
      });

      $("#close").click(function() {
        $("#content").toggle();
      });
    });
  </script>
</body>

</html>
