<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Jiwa & Rizal</title>
  <link rel="shortcut icon" href="/assets/icon.png">
  <link rel="stylesheet" type="text/css" href="/assets/main.css" charset="utf-8" />
</head>

<body class="bg-near-black red">
  <img class="pa2 h4 fixed top-0 left-0" src="/assets/corner_top_left.png">
  <img class="pa2 h4 fixed top-0 right-0" src="/assets/corner_top_right.png">
  <img class="pa2 h4 fixed bottom-0 left-0" src="/assets/corner_bottom_left.png">
  <img class="pa2 h4 fixed bottom-0 right-0" src="/assets/corner_bottom_right.png">
  {{ content }}
</body>

</html>
