---
layout: default
---
<div class="w-100 vh-100 flex justify-center items-center">
  <div class="w-50-ns w-80 flex flex-column items-center f4 lh-copy">
    <p>Kepada:</p>
    <div class="f1 tc lh-copy ttc">
      {{page.title}}
    </div>
  </div>
</div>

{% include header.html %}

<div class="w-100 vh-100 flex justify-center items-center">
  <div class="w-50-ns w-80 flex flex-column items-center f4 lh-copy">
    <img class="db w5-ns w4 pb3 svg" src="/assets/bismillah.svg">
    <p>Dengan memohon rahmat dan ridho Allah SWT, kami bermaksud mengundang Bapak/Ibu/Saudara/i dalam acara akad nikah putra-putri kami:</p>
  </div>
</div>

<div class="w-100 vh-100 flex justify-center items-center">
  <div class="w5 flex flex-wrap justify-center f5 lh-copy">
    <p class="tl">Putri dari <b>Bapak Tisna Sanjaya</b> & <b>Ibu Molly Agustina</b></p>
    <div class="w5 f2 lh-title relative bridegroom flex items-center">
      <p class="tl ma0 pa0 absolute glow2 b svg top-0">Nadya Jiwa Saraswati</p>
      <img class="ba" src="/assets/bride_groom.png">
      <p class="tr ma0 pa0 absolute glow2 b svg bottom-0">Rizal Nugraha Ramadhan</p>
    </div>
    <p class="tr">Putra dari <b>Bapak Wasripin</b> & <b>Ibu Yumalia S</b></p>
  </div>
</div>

<div class="w-100 vh-100 flex justify-center items-center">
  <div class="mw6-ns mw5 flex flex-wrap justify-center f9 lh-copy tc">
    <div class="f2 lh-title">
      <p class="ma0">Akad Nikah</p>
      <p class="ma0 f-subheadline">30.10.21</p>
    </div>
    <p>Dilaksanakan di Hotel Grand Mercure pada pukul 15:30</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15845.192481125758!2d107.5950195!3d-6.8548254!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72b029ec1dd0124a!2sGrand%20Mercure%20Bandung%20Setiabudi!5e0!3m2!1sen!2sid!4v1634047003852!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

<div class="w-100 vh-100 flex justify-center items-center">
  <div class="mw6-ns mw5 flex flex-wrap justify-center f9 lh-copy tc">
    <div class="f2 lh-title">
      <p class="ma0">Live Streaming</p>
    </div>
    <div class="w-100 h5 ba br4 f2 flex justify-center items-center">
      <p class="blink-1">Coming Soon</p>
    </div>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/UaTn1KguTBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe> -->
    <p>Pukul 15:30 - 20:00</p>
  </div>
</div>

<div class="w-100 vh-100 flex justify-center items-center">
  <div class="w-25-ns w-80 flex flex-wrap justify-center f9 lh-copy tc">
    <div class="f2 lh-title pb2">
      <p class="ma0">Salam, Pesan, & Doa</p>
    </div>

    <div class="ba ph2 pt3 pb0">
      <iframe src="https://www5.cbox.ws/box/?boxid=929234&boxtag=yz01PY" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
    </div>
  </div>
</div>
